// 自定义样式
body {
  font-size 16px !important;
  color #616161 !important;
}

.content__default code {
  font-size 0.93em !important;
}

a.sidebar-link {
  font-size 1.2em !important;
}

blockquote{
  font-size 1.0em !important;
}
a.sidebar-link {
  font-size: 1em !important;
  font-weight: 400 !important;
  display: block !important;
  color: var(--text-color);
  padding: .35rem 1rem .35rem 2.25rem;
  line-height: 1.7;
  background: var(--background-color);
  box-sizing: border-box;
}
@media (max-width: 1024px){
  .page{
    padding-right: 0 !important;
  }
  .page .side-bar {
    display: none !important;
  }

}

